@use 'variables' as *;
@use 'mixins' as *;
@use 'typography';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

button,
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: $global-border-radius;
}
