@use 'variables' as *;
@use 'mixins' as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
