@use 'variables' as *;
@use 'mixins' as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
