@use '@/styles/variables' as *;
@use '@/styles/mixins' as mix;

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 1rem;
}

.parallaxWrapper {
  width: 100%;
  height: 80%;
  border-radius: $global-border-radius;
  overflow: hidden;
  position: relative;
  z-index: 0;

  // Базовая маска: Только снизу (работает на всех экранах)
  // -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  // mask-image: linear-gradient(to bottom, black 60%, transparent 100%);

  // Вариант 1: Растушевка с трех сторон (Лево, Право, Низ)
  // -webkit-mask-image:
  //   linear-gradient(to bottom, black 60%, transparent 100%),
  //   linear-gradient(
  //     to right,
  //     transparent 0%,
  //     black 15%,
  //     black 85%,
  //     transparent 100%
  //   );
  // mask-image:
  //   linear-gradient(to bottom, black 60%, transparent 100%),
  //   linear-gradient(
  //     to right,
  //     transparent 0%,
  //     black 15%,
  //     black 85%,
  //     transparent 100%
  //   );

  // Вариант 2: Растушевка только Справа и Снизу (Слева четко)
  // -webkit-mask-image:
  //   linear-gradient(to bottom, black 60%, transparent 100%),
  //   linear-gradient(to right, black 0%, black 85%, transparent 100%);
  // mask-image:
  //   linear-gradient(to bottom, black 60%, transparent 100%),
  //   linear-gradient(to right, black 0%, black 85%, transparent 100%);

  // -webkit-mask-composite: source-in;
  // mask-composite: intersect;

  opacity: 1;
}

.backgroundImage {
  object-fit: cover;
  // Двигаем изображение внутри блока img
  object-position: 10% center;
}

.content {
  z-index: 1;
  color: $text-color-primary;
  padding: 0 20px;
  grid-column: 1;
  gap: 3rem;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;

  min-height: 40vh;
  flex-grow: 1;
}

.btnToBottom {
  margin-top: auto;
}

@include mix.respond-to('tablet') {
  .hero {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  .content {
    grid-column: 1 / -1;
    grid-row: 1;
    z-index: 2;
    text-align: center;
    align-items: center;
  }

  .parallaxWrapper {
    position: relative;
    grid-column: 1 / -1;
    grid-row: 1;
    width: 100%;
    height: 90%;
    opacity: 0.7;
  }
}
