@use '@/styles/variables' as *;

$arrows-color: #9fe2bf;
$arrows-color-neon: #89cff0;

.problems {
  position: relative;
  padding: 6rem 40px;
  background: #f8fafc;
  width: 100%;
  max-width: $landing-max-width;
  margin: 0 auto;
  box-sizing: border-box;

  &::before {
    content: '';
    position: absolute;
    top: -149px;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(
      180deg,
      rgba(248, 250, 252, 0) 0%,
      #f8fafc 100%
    );
    pointer-events: none;
    z-index: 1;
  }
}

.cardsGrid {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 6rem;
  align-items: flex-start;
  z-index: 2;
}

.bottomContent {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.arrowsWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

.breathingText {
  text-align: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .arrowDown {
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0077cc;
    margin-bottom: 1rem;
    transition: filter 0.3s ease;

    &:hover {
      filter: drop-shadow(0 0 2px $arrows-color-neon)
        drop-shadow(0 0 10px $arrows-color-neon);
    }
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
  }
}

.arrowLeft,
.arrowRight,
.arrowDown {
  filter: brightness(0) saturate(100%) invert(88%) sepia(18%) saturate(684%)
    hue-rotate(101deg) brightness(94%) contrast(88%);
}

.arrowLeft {
  margin-top: -20px;
  transform: rotate(10deg);
}

.arrowRight {
  margin-top: -20px;
  transform: rotate(-10deg);
}

@media (max-width: $tablet) {
  .cardsGrid {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 4rem;
    justify-content: center;
    align-items: center;
  }

  .arrowsWrapper {
    flex-direction: column;
    align-items: center;

    .arrowLeft,
    .arrowRight {
      display: none;
    }
  }

  .middleCard {
    margin-top: 0;
  }
}

@media (max-width: $mobile) {
  .breathingText {
    .arrowDown {
      margin-top: -2rem;
    }
  }
}
